# Flutter/Dart
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
**/android/.gradle/
**/android/app/*.keystore
**/android/key.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
